{% extends "layout.html" %}
{% block content %}
<article class="media content-section">
  <div class="media-body">
    <div class="article-metadata">
      <a class="mr-2" href="#">Search the information needed</a>
      <small class="text-muted">Author name</small>
    </div>
    <p class="article-content">Describe what is being searched</p>
  </div>
</article>

<div class="row">
	<div class="col">
		<figure class="figure">
			<img src="../static/images/jhu.jpg" class="rounded img-fluid mx-auto" alt="Responsive image" width="400">
			<figcaption class="figure-caption">Johns Hopkins University</figcaption>
		</figure>
	</div>
	<div class="col">
		<figure class="figure">
			<img src="../static/images/jhu.jpg" class="rounded img-fluid mx-auto" alt="Responsive image" width="400">
			<figcaption class="figure-caption">Johns Hopkins University</figcaption>
		</figure>
	</div>
</div>

{% endblock content %}